table {
	width: 100%;
	margin-bottom: 1.75em;
	border: 1px solid #ddd;
	border-radius: 2px;
	border-collapse: inherit;
}

thead {
	border-bottom: 1px solid #ddd;
}

tr {
	border-bottom: 1px solid #EEE;
}

tr:nth-child(even) {
	background: #fcfcfc;
}

td, th {
	padding: 15px;
	text-align: left;
}
